<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.serviceModel>


	 
    <bindings>
      <wsHttpBinding>
        <binding name="wsSecureBinding">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
		
      </wsHttpBinding>
    </bindings>
	  
	  
	  
    <diagnostics performanceCounters="Default" />
    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="WcfService1.GeriSayimService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          contract="WcfService1.IGeriSayimService" />
		  <endpoint address="mex" binding="mexHttpBinding"
		  contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="SecurtiyBehavior" name="WcfService1.GeriSayimSecureService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsSecureBinding"
          contract="WcfService1.IGeriSayimSecureService" />
		  <endpoint address="mex" binding="mexHttpBinding"
		contract="IMetadataExchange" />
      </service>
    </services>
	  
	  
	  
	  <behaviors>
    <serviceBehaviors>
     <behavior name="MyServiceTypeBehaviors">
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
     </behavior>
     <behavior name="SecurtiyBehavior">
		 <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
		 <serviceDebug includeExceptionDetailInFaults="false" />
		 
		 <serviceCredentials>
			 <serviceCertificate findValue="localhost" x509FindType="FindBySubjectName" storeLocation="LocalMachine" storeName="My"/>
      
       <userNameAuthentication userNamePasswordValidationMode="Custom"
        customUserNamePasswordValidatorType="WcfService1.Security, WcfService1" />
      </serviceCredentials>
     </behavior>
    </serviceBehaviors>
   </behaviors>
	  
	  
	  
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="geri_sayim_apiEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=geri_sayim_api;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>